<footer>
    <div class="footer-group">
        <div>
            <ul class="list">
                <li class="list-item"><a class="footer-link" href="#">Hakkında</a></li>
                <li class="list-item"><a class="footer-link" href="#">Reklam</a></li>
                <li class="list-item"><a class="footer-link" href="#">İşletme</a></li>
                <li class="list-item"><a class="footer-link" href="#">Ara</a></li>
                <li class="list-item"><a class="footer-link" href="#">Arama nasıl çalışır?</a></li>
            </ul>
        </div>
    
        <div>
            <ul class="list">
                <li class="list-item"><a class="footer-link" href="#">İletişim</a></li>
                <li class="list-item"><a class="footer-link" href="#">Sözleşmeler</a></li>
                <li class="list-item"><a class="footer-link" href="#">Anlaşma</a></li>
                <li class="list-item"><a class="footer-link" href="#">Bizi Puanla</a></li>
            </ul>
        </div>
    </div>

    <span class="künye">
        @Utkyfact her hakkı saklıdır.
    </span>
</footer>